@import "tailwindcss";

body,
html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

@theme {
  --animate-wink: wink 10s ease-in-out infinite;

  @keyframes wink {
    0%,
    74%,
    78% {
      transform: scaleY(1);
    }
    75% {
      transform: scaleY(0);
    }
  }

  --animate-bg-move: bg-move 2s linear infinite;

  @keyframes bg-move {
    0% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 24px 24px;
    }
  }
}

.bg-stars {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23fafafa05' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}
